/* .contacto-tarjeta_B{
    width: auto;
    height: 500px;
}

.tarjeta_B-redes{
    width: 80%;
    height: 300px;
    background-color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.bi-facebook{
    color: black;
    font-size: 0.5rem;
} */
