.perculoops {
    background-image:url(/perculoops-fondo-banner.svg);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.perculoops-indice {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.perculoops-indice-semiCirculo {
    width: 10rem;
    height: 5rem;
    background-color: var(--color-primario-C);
    clip-path: circle(50% at 50% 0);
    text-align: center;
    align-self:flex-start;
    color: var(--color-neutro-darkness);
    font-family: var(--tipografia-principal);
}